<div class="controls-container">
  <img class="controls-icon" src="./assets/icons/home.svg" />
  <img class="controls-icon" src="./assets/icons/pen-tool.svg" />
  <img class="controls-icon" src="./assets/icons/users.svg" />
  <img class="controls-icon" src="./assets/icons/eraser.svg" />
</div>
<div class="controls-panel">
  <div class="controls-panel-container">
    <label style="margin-top: 0.5rem; font-weight: 600">Pen Width: </label>
    <slider (sliderValue)="changePenWidth($event)"></slider>
  </div>
</div>
