.controls-container {
  display: flex;
  padding: 0.6rem;
  gap: 1rem;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  background-color: rgb(47, 32, 144);
  position: absolute;
  top: 40%;
  left: 2rem;
  border-radius: 5%;
  cursor: pointer;
}

.controls-icon {
  height: 2rem;
  width: 2rem;
}

.controls-panel {
  border: 2px solid rgb(47, 32, 144);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 10rem;
  position: absolute;
  top: 40%;
  left: 6rem;
  border-radius: 5%;
  padding: 0.1rem;
}

.controls-panel-close {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 32.2rem;
  left: 15.5rem;
  z-index: 1;
  cursor: pointer;
}

.controls-panel-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}
